/* General Demo Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

@font-face {
	font-family: 'itcavantgardestd-bk';
	src:url('../fonts/itcavantgardestd-bk.eot?#iefix') format('embedded-opentype'),
		url('../fonts/itcavantgardestd-bk.woff') format('woff');
	src:url('../fonts/itc-avant-garde-gothic-std-book.otf'),
		url('../fonts/ITCAvantGardeStd-Bk.otf') format('embedded-opentype'),
		url('../fonts/itc-avant-garde-gothic-std-medium.otf'),
		url('../fonts/itc-avant-garde-gothic-std-extra-light.otf');
		/*url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'code_pro_demoregular';
    src: url('../fonts/Code_Pro_Demo-webfont.eot');
    src: url('../fonts/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('../fonts/Code_Pro_Demo-webfont.woff') format('woff'),
         url('../fonts/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('../fonts/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; }
body, html {
	background: url(../img/grey_Dots.jpg) repeat;	 
	font-size: 100%; 
	padding: 0; 
	margin: 0;
	overflow-x: hidden;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'itcavantgardestd-bk', ITCAvantGardeStd-Bk, code_pro_demoregular, Arial, sans-serif;
	color: #6b7381;
	/*background: #f2f2f2;*/
}

nav {
	margin: 0;
	text-align: center;
	color: #fff;
	font-family: 'itcavantgardestd-bk', helvetica-neue, sans-serif;
	font-size: 1em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  	text-rendering: optimizeLegibility !important;
  	-webkit-font-smoothing: antialised !important;
}

nav ul li {
	display: inline-block;
	list-style-type: none;

}

nav ul li a {
	padding: 0.5em 0.5em;
	text-decoration: none;
	line-height: 2em;
	color: #fff;
	right: 16px;

}

.main_img {
	position: absolute;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover,
a:active {
	color: #f0931b;
}

#top_header {
  background: url(../img/bali_Fountain_1920s.jpg) center no-repeat;
  width: auto;
  height: 1014px;
}

#top_nav {
	color: #fff;
	text-decoration: none;
	position: relative;
	top: 210px;
}

/*Mouse Scroll Down Button*/


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	/*display: block;*/
	position: absolute;
	z-index: 9999;
	top: 92%;
	left: 0;
	right: 0;
	text-align: center;
	
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	-webkit-animation: ani-mouse 2.7s ease-in-out infinite;
	-moz-animation: ani-mouse 2.7s ease-in-out infinite;
	animation: ani-mouse 2.7s ease-in-out infinite;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
	
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: orange;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.7s linear infinite;
	-moz-animation: ani-mouse 2.7s linear infinite;
	animation: ani-mouse 2.7s linear infinite;
}

.mousetext {
	margin-left: -55px;
}

.bio {
	padding: 3%;
	position: relative;
	margin-top: -1.3%;
	color: gray;
	text-align: justify;
}

a.back-to-top {
	display: none;
	width: 70px;
	height: 70px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 92.3%;
	text-decoration: none;
	background: url(../img/chevron_down_arrow.png) no-repeat center 43%;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

a:hover.back-to-top {
	background-color: none;
	background: url(../img/chevron_up_arrow.png) no-repeat center 43%;
		
}

/*Header Style and Background*/

.headerTitle {
	text-align: center;
	margin-top: 1%;
	letter-spacing: 5px;
	font-size: 1.3em;

}

.headerTitle.about {
	position: relative;
	margin-top: 5%;
	margin-bottom: 1%;
	
}

.headerTitle.work {
	position: relative;
	margin: 3.5% 0;
	color: #E0FFFF;
}

.headerTitle.contact {
	position: relative;
	margin: 4%;
	/*padding-top: 0.5em;*/
	/*margin-bottom: 4%;*/
}
#about {
	background: rgba(255,255,255, 0.2);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 4%;
	

}

#work {
	position: relative;
	magrin-bottom: 3%;
}

#contact {
	background: rgba(249, 249, 249, 0.5);
	padding: 20px;
	line-height: 1.5em;
}

/* Header Style */
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding: 0 0 0.6em 0.1em;
}



.map {
	float: right;
	margin: 20px;
	width: 35%;

}

.map iframe {
	width: 100%;
	height: 450px;
	border: #fff;


}

/* Footer Style */
footer {
  background: #b57225;
  color: #7c8ea0;
  padding: 30px 0;
  text-align: left;
  font-size: 0.9em;
}

.copyrightinfo {
	color: #CCD1D9;
	position: relative;
	margin-left: 20px;
}


/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #6b7381;
	display: inline-block;
}

.codrops-top a:hover {
	color: #424b5a;
	background: rgba(255,255,255,1);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #6b7381;
	color: #6b7381;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	opacity: 0.6;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}