
	/*.wrapper {
    position: relative;
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 1fr 1fr 0.4fr;
    height: 78.6%;
    width: 57.3%;
    margin: auto;
    -ms-content-zoom-limit-max: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}*/

/* Good Wrapper */
.wrapper {
    position: relative;
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 268px 474px 260px;
    -ms-grid-rows: 249px 125px 121px 140px;
    margin: auto;
    width: 58%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}


/*.wrapper > div {
	background-color: #eee;
	padding: 1em;
}*/

/*.wrapper > div:nth-child(odd) {
	background: #ddd;
}*/


.gridWrapper {
	/*background: rgba(255,255,255, 0.4);*/
	background: rgba(32,168,194, 0.7) url(../img/bali_LtBlue.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 842px;
	/*background: rgba(255,154,68, 1);*/
	padding-top: 0.5%;
	padding-bottom: 5%;
}


.pic-1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    -ms-grid-column-align: start;
    -ms-grid-row-align: start;
}

.pic-2 {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-column-align: end;
    -ms-grid-row-align: start;
}

.pic-3 {
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	-ms-grid-column-span: 2;
	-ms-grid-column-align: end;
	-ms-grid-row-align: start;
}

.pic-4 {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-column-align: end;
    -ms-grid-row-align: start;
}

.pic-5 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-row-align: start;
    -ms-grid-row-span: 2;
    -ms-grid-column-align: end;
}

.pic-6 {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span:2;
    -ms-grid-column-align: start;
    -ms-grid-row-align: start;
}


.pic-7 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-align: start;
    -ms-grid-row-align: start;
}


.pic-8 {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
    -ms-grid-column-align: end;
    -ms-grid-row-align: start;
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
/* Effect 2: Move Up */
	background-color: lightgrey;
	opacity: 0;
	height: 100%;
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

.box2 {
	animation-duration: 1s;
}

.box3 {
	animation-duration: 1.5s;
}

.box4 {
	animation-duration: 2s;
}

.box5 {
	animation-duration: 2.5s;
}

.box6 {
	animation-duration: 3s;
}

.box7 {
	animation-duration: 3.5s;
}

.box8 {
	animation-duration: 4s;
}
@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.box2 {
	/*align-self: end;*/
	grid-column: 3;
	grid-row: 1/3;
}

.box3 {
	/*justify-self: end;*/
	grid-column: 2/4;
	grid-row: 3;
}

.box4 {
	grid-column: 1/4;
	grid-row: 3/4;
}

.box5 {
	grid-column: 2/4;
	grid-row: 4/6;
}

.box6 {
	grid-column: 1/3;
	grid-row: 4;
}

.box7 {
	grid-column: 1/4;
	grid-row: 4;
}

.box8 {
	grid-column: 4;
	grid-row: 4;
}